<div class="container-fluid">
<div class="row">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h3 >{{title}} - {{displayQuery}}</h3>
        </mat-toolbar-row>
        <mat-toolbar-row >
            <input name="query" placeholder="Enter Search Here"  [(ngModel)]="searchQuery" class="form-control col-sm-9 pull-left"/>
            <button (click)="sendQuery()" mat-raised-button color="primary">Submit</button>
        </mat-toolbar-row>
    </mat-toolbar>

<div *ngIf="searchResults; else elseBlock" class="col-sm-12">
  <h3 class="total col-sm-12 text-success">Total Results: {{searchResults.total_count}}</h3>
  <ul class="list col-sm-12">
    <li class="list_item" [ngStyle]="{'background-color' : (i % 2 === 0) ? 'silver' : 'white'}" *ngFor="let result of searchResults.items;index as i">
      <a [href]="result.html_url">
        <img class="avatar" [src]="result.owner.avatar_url" /> 
        <h4 class="title"> {{result.name}} 
          <small> by {{result.owner.login | uppercase}}</small> 
        </h4>
      </a> 
      <p class="description"> {{result.description}}</p> 
      <p>Created On: {{result.created_at | date: 'fullDate'}}</p>
    </li>
  </ul>
</div>
<ng-template #elseBlock>Loading...</ng-template>
  </div>
  </div>
